@charset "UTF-8";

#headerMenu{
	display: table;
}

#headerMenu div{
	display: table-cell;
	padding-right: 30px;
}

#headerMenu a:link{
	font-size: large;
}

#logoSize{
	max-height: 50px;
	max-width: 50px;
}

a:link{
	color: black;
	text-decoration: none;
	font-family: monospace, serif;
}

table{
	border: 2px, medium black;
	border-collapse: collapse;
}

table.form{
	border: 0;
	padding: 4px;
}

th, tr{
	padding: 10px;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

th{
	background: black;;
	color: white;
	font-size: large;
}

button{
	padding: 10px;
	border-radius: 5px;
}

input{
	border: 10px, solid;
	border-radius: 5px;
	border-color: black;
	height: 20px;
}

.error{
	color: red;
	margin: 10px;
}